#main {
    height: 100%;
    color: black;
    font-family: Open Sans;
    //background-color: #EAEAEA;
}

.title {
    float: left;
    text-align: center;
    font-family: Source Sans Pro;
}

nav ul li a {
    font-color: white;
}

.footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 15%;
    width: 100%;
    background-color: #4F4F4F;
}

#jumboTitle {
    font-family: Source Sans Pro;
}

.title h3 {
    color: white;
}