<!-- navbar -->
<nav class="navbar navbar-dark bg-primary" style="border-radius: 0 !important;">
  <div class="container">
    <ul class="nav navbar-nav pull-xs-left">
      <li class="nav-item hidden-sm-down">
        <a href="#"><img src="/images/siglogo1.png" style="width: auto; height: 40px; padding-right: 10px;"></a>
      </li>
      <li class="nav-item">
        <a class="navbar-brand" href="#">SCU ACM SIGGRAPH</a>
      </li>
    </ul>
    <button class="navbar-toggler hidden-lg-up pull-xs-right" type="button" data-toggle="collapse" data-target="#collapsing-navbar">&#9776;</button>
    <ul class="nav navbar-nav pull-xs-right hidden-md-down">
      <li class="nav-item">
        <a class="nav-link" href="#/">HOME</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#/information">INFORMATION</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#/members">MEMBERS</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="#/events">EVENTS</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#/photos">PHOTOS</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#/join">JOIN</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#/contact">CONTACT</a>
      </li>
    </ul> 
  </div>
</nav>

<!-- Collapsing Navbar -->
<div class="collapse" id="collapsing-navbar">
  <p><a href="#/">HOME</a></p>
  <p><a href="#/information">INFORMATION</a></p>
  <p><a href="#/members">MEMBERS</a></p>
  <p><a href="#/events">EVENTS</a></p>
  <p><a href="#/photos">PHOTOS</a></p>
  <p><a href="#/join">JOIN</a></p>
  <p><a href="#/contact">CONTACT</a></p>
</div>

<!-- Main content -->
<section id="join-jumbo">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2" id="join-intro-wrapper">
        <h2>EVENTS</h2>
        <p>Below are the various events we have either run ourselves or attended as an organization. Feel free to contact us if you have an idea for an event, or would like to get involved.</p>
      </div>
    </div>
  </div>
</section>

<div class="container" id="eventpage-seciton">
  <div class="row" id="eventpage-subsection">
    <h2>UPCOMING EVENTS:</h2>
  </div>
  <div class="row">
    <div class="card-deck-wrapper">
      <div class="card-deck">
        <div class="card">
          <img class="card-img-top img-fluid" src="http://placehold.it/580x240" alt="Card image cap">
          <div class="card-block">
            <h4 class="card-title">Card title</h4>
            <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          </div>
        </div>
        <div class="card">
          <img class="card-img-top img-fluid" src="http://placehold.it/580x240" alt="Card image cap">
          <div class="card-block">
            <h4 class="card-title">Card title</h4>
            <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row" id="eventpage-subsection">
    <h2>PAST EVENTS:</h2>
  </div>
  <div class="row">
    <div class="card-deck-wrapper">
      <div class="card-deck">
        <div class="card">
          <img class="card-img-top img-fluid" src="http://placehold.it/400x240" alt="Card image cap">
          <div class="card-block">
            <h4 class="card-title">Card title</h4>
            <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          </div>
        </div>
        <div class="card">
          <img class="card-img-top img-fluid" src="http://placehold.it/400x240" alt="Card image cap">
          <div class="card-block">
            <h4 class="card-title">Card title</h4>
            <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
          </div>
        </div>
        <div class="card">
          <img class="card-img-top img-fluid" src="http://placehold.it/400x240" alt="Card image cap">
          <div class="card-block">
            <h4 class="card-title">Card title</h4>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Footer -->
<div class="footer">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-lg-offset-2 col-sm-4 col-xs-4">
        <div class="row">
          <div class="col-lg-12">
            <p>SCU ACM SIGGRAPH</p>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-6">
            <ul class="nav">
              <li class="nav-item">
                <a class="nav-link" href="#/home">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#/information">Information</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#/events">Events</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#/join">Join</a>
              </li>
            </ul>
          </div>
          <div class="col-lg-6">
            <ul class="nav">
              <li class="nav-item">
                <a class="nav-link" href="#/members">Members</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#/photos">Photos</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#/contact">Contact</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-lg-2 col-sm-4 col-xs-4">
        <div class="row">
          <div class="col-lg-12">
            <p>AFFILIATES</p>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12">
            <nav class="nav">
              <ul class="nav">
                <li class="nav-item">
                  <a class="nav-link" href="https://www.acm.org/">ACM</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="www.siggraph.org">ACM SIGGRAPH</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="s2016.siggraph.org">SIGGRAPH 2016</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="https://www.scu.edu">SCU</a>
                </li>
              </ul>
            </nav>
          </div>
        </div>
      </div>
      <div class="col-lg-2 col-sm-4 col-xs-4">
        <div class="row">
          <div class="col-lg-12">
            <p>CONNECT</p>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-3">
           <p>
             <a href="https://www.facebook.com/groups/608046832681387/"><i class="fa fa-facebook-official"></i>
             </a>
            </p>
          </div>
          <div class="col-lg-3">
            <p>
             <a href="mailto:scuacm.siggraph@gmail.com"><i class="fa fa-envelope"></i></a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="footer-mini bg-primary">
  <div class="container">
    <div class="row">
      <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5">
        <p>Copyright ©2016 SCU ACM SIGGRAPH.</p>
      </div>
      <div class="col-lg-2 col-sm-2 col-md-2 col-sm-2 col-xs-2">
        <center>
          <img src="/images/siglogo-footer.png" style="height: 20px; width: 20px;">
        </center>
      </div>
      <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5" style="text-align: right">
        <p>All rights reserved.</p>
      </div>
    </div>
  </div>
</div>