<!-- Navbar -->
<nav class="navbar navbar-dark bg-primary" style="border-radius: 0 !important;">
  <div class="container">
    <a class="navbar-brand" href="#">SCU ACM SIGGRAPH</a>
    <ul class="nav navbar-nav pull-xs-right">
      <li class="nav-item">
        <a class="nav-link" href="#/">HOME</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#/information">INFORMATION</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#/members">MEMBERS</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="#/events">EVENTS</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#/photos">PHOTOS</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#/join">JOIN</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#/contact">CONTACT</a>
      </li>
    </ul>
  </div>
</nav>

<!-- Main content -->
<section id="eventpage">
  <div class="container">
    <div class="row">
      <span class="align-left"><h3>EVENTS</h3></span>
    </div>
  </div>
</section>

<div class="container" id="eventpage-seciton">
  <div class="row" id="eventpage-subsection">
    <h2>UPCOMING EVENTS:</h2>
  </div>
  <div class="row">
    <div class="card-deck-wrapper">
      <div class="card-deck">
        <div class="card">
          <img class="card-img-top img-fluid" src="http://placehold.it/580x240" alt="Card image cap">
          <div class="card-block">
            <h4 class="card-title">Card title</h4>
            <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          </div>
        </div>
        <div class="card">
          <img class="card-img-top img-fluid" src="http://placehold.it/580x240" alt="Card image cap">
          <div class="card-block">
            <h4 class="card-title">Card title</h4>
            <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row" id="eventpage-subsection">
    <h2>PAST EVENTS:</h2>
  </div>
  <div class="row">
    <div class="card-deck-wrapper">
      <div class="card-deck">
        <div class="card">
          <img class="card-img-top img-fluid" src="http://placehold.it/400x240" alt="Card image cap">
          <div class="card-block">
            <h4 class="card-title">Card title</h4>
            <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          </div>
        </div>
        <div class="card">
          <img class="card-img-top img-fluid" src="http://placehold.it/400x240" alt="Card image cap">
          <div class="card-block">
            <h4 class="card-title">Card title</h4>
            <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
          </div>
        </div>
        <div class="card">
          <img class="card-img-top img-fluid" src="http://placehold.it/400x240" alt="Card image cap">
          <div class="card-block">
            <h4 class="card-title">Card title</h4>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Footer -->
<div class="footer">
  <div class="container">
    <!--
    <div class="row">
      <div class="col-lg-4 col-lg-offset-2">
        <p>NAVIGATION</p>
      </div>
      <div class="col-lg-4">
        <p>CONNECT</p>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-2 col-lg-offset-2">
        <ul class="nav">
          <li class="nav-item">
            <a class="nav-link" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Information</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Events</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Join</a>
          </li>
        </ul>
      </div>
      <div class="col-lg-2">
        <ul class="nav">
          <li class="nav-item">
            <a class="nav-link" href="#">Members</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Photos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Contact</a>
          </li>
        </ul>
      </div>
      <div class="">
      </div>
    </div>
    -->
    <div class="row">
      <div class="col-lg-4 col-lg-offset-2">
        <div class="row">
          <div class="col-lg-12">
            <p>NAVIGATION</p>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-6">
            <ul class="nav">
              <li class="nav-item">
                <a class="nav-link" href="#">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Information</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Events</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Join</a>
              </li>
            </ul>
          </div>
          <div class="col-lg-6">
            <ul class="nav">
              <li class="nav-item">
                <a class="nav-link" href="#">Members</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Photos</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Contact</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="row">
          <div class="col-lg-12">
            <p>CONNECT</p>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12">
           <p>Social media links and stuff</p>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12">
            <p>AFFILIATES</p>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12">
            <nav class="nav nav-inline">
              <a class="nav-link" href="#">ACM</a>
              <a class="nav-link" href="#">ACM SIGGRAPH</a>
              <a class="nav-link" href="#">SIGGRAPH 2016</a>
              <a class="nav-link" href="#">SCU</a>
            </nav>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="footer-mini bg-primary">
  <div class="container">
    <div class="row">
      <div class="col-lg-5">
        <p>Copyright ©2016 SCU ACM SIGGRAPH. All rights reserved.</p>
      </div>
      <div class="col-lg-2">
        <center>
          <p>Logo here</p>
        </center>
      </div>
      <div class="col-lg-5" style="text-align: right">
        <p>Crafted by love by the SCU SIGGRAPH team</p>
      </div>
    </div>
  </div>
</div>

    