<!DOCTYPE html>
<html>
	<head>
        <!-- 
		<link rel="stylesheet" type="text/css" href="../styles/bootstrap/dist/css/bootstrap.css"> -->
        <!-- 
    <link rel="stylesheet" type="text/css" href="../styles/custom.css"> -->
    <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,900,700' rel='stylesheet' type='text/css'>
	</head>
	<body>
    
    <!-- navbar -->
    <nav class="navbar navbar-dark bg-primary" style="border-radius: 0 !important;">
      <div class="container">
        <a class="navbar-brand" href="#">SCU ACM  SIGGRAPH</a>
        <ul class="nav navbar-nav pull-xs-right">
          <li class="nav-item active">
            <a class="nav-link" href="#/">HOME</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#/information">INFORMATION</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">MEMBERS</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">EVENTS</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">PHOTOS</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">CONTACT</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">JOIN</a>
          </li>
        </ul>
      </div>
    </nav>

    
    <!-- Jumbotron -->
    <div class="jumbotron jumbotron-fluid">
      <div class="container">   
        <center>
          <h1 class="display-3">SCU ACM SIGGRAPH</h1>
          <p class="lead">Blending the technical and creative.</p>
          <hr class="jumbo-line">
          <p>We are Santa Clara University's first computer graphics organization.</p>
          <p class="lead"><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>
        </center>
      </div>
    </div>
    
    <!-- Main content -->
    <section>
      
      <!-- announcements -->
      <div id="announce-section">
        <div class="row">
          <div id="announce" class="info-main-content">
            <div><h2>ANNOUNCEMENTS</h2></div>
          </div>
        </div>
        <div class="container info-container">
          <div class="row info-content">
            <div class="col-lg-7">
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas quis lorem turpis. Aliquam cursus neque in magna egestas rhoncus. Sed varius sodales nibh. Curabitur in porttitor urna. Donec ornare ut felis varius posuere. Integer porta nibh ligula, non faucibus lorem auctor id. Etiam non porttitor elit, at eleifend nulla.</p>
              <button type="button" class="btn btn-info" style="right: -1rem">Learn more</button>
            </div>
          </div>
        </div>
      </div>
      
      <!-- news -->
      <div style="background-color: #F4F4F4" id="news-section">
        <div class="row">
          <div id="news" class="info-main-content">
            <div><h2>NEWS</h2></div>
          </div>
        </div>
        <div class="container info-container">
          <div class="row info-content">  
            <div class="col-lg-offset-5 col-lg-7">
              <p style="text-align: right;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas quis lorem turpis. Aliquam cursus neque in magna egestas rhoncus. Sed varius sodales nibh. Curabitur in porttitor urna. Donec ornare ut felis varius posuere.</p>
            </div>
            
          </div>
        </div>
      </div>
      
      <!-- events -->
      <div id="events-section">
        <div class="row">
          <div id="events" class="info-main-content">
            <div><h2>EVENTS</h2></div>
          </div>
        </div>
        <div class="container info-container">
          <div class="row info-content">
            <div class="col-lg-7">
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas quis lorem turpis. Aliquam cursus neque in magna egestas rhoncus. Sed varius sodales nibh. Maecenas quis lorem turpis. Aliquam cursus neque in magna egestas rhoncus. Sed varius sodales nibh. Curabitur in porttitor urna. Donec ornare ut felis varius posuere.</p>
            </div>
          </div>
        </div>
      </div>
      
    </section>
    
    <!-- Footer -->
    <div class="footer">
      <div class="container">
        <div class="row">
          <div class="col-lg-offset-4 col-lg-4">
            <p>Hello world!</p>
          </div>
        </div>
      </div>
    </div>
    
    <!-- scripts -->
    <script src="../scripts/jquery-2.2.0.min.js"></script>
    <script src="../bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="../js/app.js"></script>
	</body>
</html>