<html>
	<head>
		<link rel="stylesheet" type="text/css" href="../styles/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="../styles/custom.css">
    <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,900,700' rel='stylesheet' type='text/css'>
	</head>
	<body>
    
    <!-- Navbar -->
    <nav class="navbar navbar-dark bg-primary" style="border-radius: 0 !important;">
      <div class="container">
        <a class="navbar-brand" href="#">SCU ACM SIGGRAPH</a>
        <ul class="nav navbar-nav pull-xs-right">
          <li class="nav-item">
            <a class="nav-link" href="./home.html">HOME</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="#">INFORMATION</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">MEMBERS</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">EVENTS</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">PHOTOS</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">CONTACT</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">JOIN</a>
          </li>
        </ul>
      </div>
    </nav>
    
    <!-- Main content -->
    <section id="dedication">
      <div class="container">
        <div class="row">
          <span class="align-right"><h3>MISSION AND GOALS</h3></span>
        </div>
      </div>
    </section>
    <section id="dedication-section">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-lg-offset-2">
            <h2>This is our mission.</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus pharetra facilisis commodo. Fusce tortor est, varius nec metus sed, mattis semper lectus. Ut fermentum, orci sed eleifend eleifend, leo magna mollis elit, sed varius elit est non orci. Cras ligula eros, consequat nec sapien ut, mattis finibus lectus. Proin sit amet dui vel libero elementum posuere sed nec enim. Praesent vehicula neque semper ligula aliquet bibendum in in velit. </p>
            <h2>These are our goals.</h2>
            <p>Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Nullam in sem ut nisi viverra congue. Nam eleifend in quam sed viverra. Donec vulputate felis laoreet, pulvinar lacus sed, laoreet urna. Pellentesque sem ipsum, ornare at massa at, posuere feugiat mi. Nullam a dolor id quam cursus lacinia. Integer euismod pretium congue. Duis aliquam ex orci.</p>
          </div>
        </div>
      </div>
    </section>
    <section id="innovation">
      <div class="container">
        <div class="row">
          <span class="align-left"><h3>INNOVATION</h3></span>
        </div>
      </div>
    </section>
    <section id="innovation-section">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-lg-offset-2" >
            <h2>This is some cool text.</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus pharetra facilisis commodo. Fusce tortor est, varius nec metus sed, mattis semper lectus. Ut fermentum, orci sed eleifend eleifend, leo magna mollis elit, sed varius elit est non orci. Cras ligula eros, consequat nec sapien ut, mattis finibus lectus. Proin sit amet dui vel libero elementum posuere sed nec enim. Praesent vehicula neque semper ligula aliquet bibendum in in velit. </p>
            <h2>Someting shorter and more dramatic.</h2>
            <p>Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Nullam in sem ut nisi viverra congue. Nam eleifend in quam sed viverra. Donec vulputate felis laoreet, pulvinar lacus sed, laoreet urna.</p>
          </div>
        </div>
      </div>
    </section>
    <section id="community">
      <div class="container">
        <div class="row">
          <span class="align-right"><h3>COMMUNITY</h3></span>
        </div>
      </div>
    </section>
    <section id="community-section">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-lg-offset-2">
            <h2>Stuff about community.</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus pharetra facilisis commodo. Fusce tortor est, varius nec metus sed, mattis semper lectus. Ut fermentum, orci sed eleifend eleifend, leo magna mollis elit, sed varius elit est non orci. Cras ligula eros, consequat nec sapien ut, mattis finibus lectus. Proin sit amet dui vel libero elementum posuere sed nec enim. Praesent vehicula neque semper ligula aliquet bibendum in in velit. </p>
          </div>
        </div>
      </div>
    </section>
    
    <div class="footer">
    </div>
    
    <!-- scripts -->
    <script src="../scripts/jquery-2.2.0.min.js"></script>
    <script src="../bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="../js/app.js"></script>
	</body>
</html>