<!-- navbar -->
<nav class="navbar navbar-dark bg-primary" style="border-radius: 0 !important;">
  <div class="container">
    <ul class="nav navbar-nav pull-xs-left">
      <li class="nav-item">
        <a href="#"><img src="/images/siglogo1.png" style="width: auto; height: 40px; padding-right: 10px;"></a>
      </li>
      <li class="nav-item">
        <a class="navbar-brand" href="#">SCU ACM SIGGRAPH</a>
      </li>
    </ul>
    <button class="navbar-toggler hidden-lg-up pull-xs-right" type="button" data-toggle="collapse" data-target="#collapsing-navbar">&#9776;</button>
    <ul class="nav navbar-nav pull-xs-right hidden-md-down">
      <li class="nav-item">
        <a class="nav-link" href="#/">HOME</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="#/information">ABOUT</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#/members">MEMBERS</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#/events">EVENTS</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#/photos">PHOTOS</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#/join">JOIN</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#/contact">CONTACT</a>
      </li>
    </ul> 
  </div>
</nav>

<!-- Collapsing Navbar -->
<div class="collapse" id="collapsing-navbar">
  <p><a href="#/">HOME</a></p>
  <p><a href="#/information">INFORMATION</a></p>
  <p><a href="#/members">MEMBERS</a></p>
  <p><a href="#/events">EVENTS</a></p>
  <p><a href="#/photos">PHOTOS</a></p>
  <p><a href="#/join">JOIN</a></p>
  <p><a href="#/contact">CONTACT</a></p>
</div>


<!-- Main content -->
<section id="dedication" class="hidden-xs-down">
  <div class="container">
    <div class="row ">
      <span class="align-right"><h3>MISSION</h3></span>
    </div>
  </div>
</section>
<section class="hidden-sm-up">
  <div class="row">
    <div id="green-mobile-header" class="col-sm-12">
      <center><h2>MISSION</h2></center>
    </div>
  </div>
</section>
<section id="dedication-section">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2">
        <h2>Who we are.</h2>
        <p>It all started with an idea: to create a community of passionate indivduals who cared about learning and exploring computer graphics and interactive media. A special interest group of the Association for Computing Machinery (ACM), the world’s first and largest computing society, SCU ACM SIGGRAPH offers its members the opprotunity to follow their passions, whether it is in 3D animation, video game engineering, data visualizaiton, graphic design, or production engineering.</p>
        <h2>This is our vision.</h2>
        <p>Santa Clara University ACM SIGGRAPH (Association Computer Machinery Special Interest Group for Graphics and Interactive Media) Student Chapter will create and foster an environment to learn, appreciate, and collaborate in the field of computer graphics and interactive techniques. The organization aims to promote its vision of bringing together individuals with a shared interests to inspire, aid, assist, and develop understanding in the computer graphics and Santa Clara University community.</p>
      </div>
    </div>
  </div>
</section>
<section id="innovation" class="hidden-xs-down">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <span class="align-left"><h3>GOALS</h3></span>
      </div>
    </div>
  </div>
</section>
<section class="hidden-sm-up">
  <div class="row">
    <div id="purple-mobile-header" class="col-sm-12">
      <center><h2>GOALS</h2></center>
    </div>
  </div>
</section>
<section id="innovation-section">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-sm-12">
        <h2>Exploring passion.</h2>
        <p>As college students, our future isn't always clear. Sometimes, we know exactly what we want, and other times, we don't know our next step. That's why SCU ACM SIGGRAPH provides exposure to all things related to computer graphics and interactive media - to allow members to understand the industry, gain valuable insight, and build their identity.</p>
      </div>
      <div class="col-lg-4 col-sm-12">
        <h2>Inspiring creativity.</h2>
        <p>Computer graphics and interactive media brings to life computing and the digital arts. As an organization that aims to promote these amazing fields, SCU ACM SIGGRAPH is driven to inspire new forms of creativity at SCU. Events and meetings at SCU ACM SIGGRAPH always aim to spark something special. Our organization provides resources for those who seek out to develop or design what they envision.</p>
      </div>
      <div class="col-lg-4 col-sm-12">
        <h2>Fostering community.</h2>
        <p>SCU ACM SIGGRAPH is dedicated to creating a commmunity, one that appreciates involvement and welcomes collaboration. Ultimately, our organization comes down to our members - our interests, and our effort. Whether it is learning a new shading language, or trying out a new animation software, we strive to create a space where everyone can feel comfortable, regardless of skill or expertise.</p>
      </div>
    </div>
  </div>
</section>
<section id="community" class="hidden-xs-down">
  <div class="container">
    <div class="row">
      <span class="align-right"><h3>VALUES</h3></span>
    </div>
  </div>
</section>
<section class="hidden-sm-up">
  <div class="row">
    <div id="oj-mobile-header" class="col-sm-12">
      <center><h2>VALUES</h2></center>
    </div>
  </div>
</section>
<section id="community-section">
  <div class="container">
    <div class="row">
      <div class="values col-lg-3 col-sm-12">
        <i class="fa fa-globe fa-3x"></i>
        <h4>COMMUNITY</h4>
        <p>A close-knit organization with a shared passion for computer graphics.</p>
      </div>
      <div class="values col-lg-3 col-sm-12">
        <i class="fa fa-commenting fa-3x"></i>
        <h4>COLLABORATION</h4>
        <p>Sharing ideas and gaining insight from others is key to creating new content.</p>
      </div>
      <div class="values col-lg-3 col-sm-12">
        <i class="fa fa-binoculars fa-3x"></i>
        <h4>EXPLORATION</h4>
        <p>Understanding the industry of computer graphics provides valuable wisdom to our members.</p>
      </div>
      <div class="values col-lg-3 col-sm-12">
        <i class="fa fa-book fa-3x"></i>
        <h4>EDUCATION</h4>
        <p>Facilitating learning through a core, consistent, and cross-disciplinary approach to graphical style and technique.</p>
      </div>
    </div>
  </div>
</section>
    
<!-- Footer -->
<div class="footer">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-lg-offset-2 col-sm-4 col-xs-4">
        <div class="row">
          <div class="col-lg-12">
            <p>SCU ACM SIGGRAPH</p>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-6">
            <ul class="nav">
              <li class="nav-item">
                <a class="nav-link" href="#/home">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#/information">About</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#/events">Events</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#/join">Join</a>
              </li>
            </ul>
          </div>
          <div class="col-lg-6">
            <ul class="nav">
              <li class="nav-item">
                <a class="nav-link" href="#/members">Members</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#/photos">Photos</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#/contact">Contact</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-lg-2 col-sm-4 col-xs-4">
        <div class="row">
          <div class="col-lg-12">
            <p>AFFILIATES</p>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12">
            <nav class="nav">
              <ul class="nav">
                <li class="nav-item">
                  <a class="nav-link" href="https://www.acm.org/">ACM</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="www.siggraph.org">ACM SIGGRAPH</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="s2016.siggraph.org">SIGGRAPH 2016</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="https://www.scu.edu">SCU</a>
                </li>
              </ul>
            </nav>
          </div>
        </div>
      </div>
      <div class="col-lg-2 col-sm-4 col-xs-4">
        <div class="row">
          <div class="col-lg-12">
            <p>CONNECT</p>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-3">
           <p>
             <a href="https://www.facebook.com/groups/608046832681387/"><i class="fa fa-facebook-official"></i>
             </a>
            </p>
          </div>
          <div class="col-lg-3">
            <p>
             <a href="mailto:scuacm.siggraph@gmail.com"><i class="fa fa-envelope"></i></a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="footer-mini bg-primary">
  <div class="container">
    <div class="row">
      <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5">
        <p>Copyright ©2016 SCU ACM SIGGRAPH.</p>
      </div>
      <div class="col-lg-2 col-sm-2 col-md-2 col-sm-2 col-xs-2">
        <center>
          <img src="/images/siglogo-footer.png" style="height: 20px; width: 20px;">
        </center>
      </div>
      <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5" style="text-align: right">
        <p>All rights reserved.</p>
      </div>
    </div>
  </div>
</div>
