<!-- navbar -->
<nav class="navbar navbar-dark bg-primary" style="border-radius: 0 !important;">
  <div class="container">
    <ul class="nav navbar-nav pull-xs-left">
      <li class="nav-item hidden-sm-down">
        <a href="#"><img src="/images/siglogo1.png" style="width: auto; height: 40px; padding-right: 10px;"></a>
      </li>
      <li class="nav-item">
        <a class="navbar-brand" href="#">SCU ACM SIGGRAPH</a>
      </li>
    </ul>
    <button class="navbar-toggler hidden-lg-up pull-xs-right" type="button" data-toggle="collapse" data-target="#collapsing-navbar">&#9776;</button>
    <ul class="nav navbar-nav pull-xs-right hidden-md-down">
      <li class="nav-item">
        <a class="nav-link" href="#/">HOME</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#/information">INFORMATION</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#/members">MEMBERS</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#/events">EVENTS</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#/photos">PHOTOS</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" href="#/join">JOIN</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#/contact">CONTACT</a>
      </li>
    </ul> 
  </div>
</nav>

<!-- Collapsing Navbar -->
<div class="collapse" id="collapsing-navbar">
  <p><a href="#/">HOME</a></p>
  <p><a href="#/information">INFORMATION</a></p>
  <p><a href="#/members">MEMBERS</a></p>
  <p><a href="#/events">EVENTS</a></p>
  <p><a href="#/photos">PHOTOS</a></p>
  <p><a href="#/join">JOIN</a></p>
  <p><a href="#/contact">CONTACT</a></p>
</div>


<!-- Main content -->
<section id="join-jumbo">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2" id="join-intro-wrapper">
        <h2>JOIN</h2>
        <p>SCU ACM SIGGRAPH is more than an organization dedicated to computer graphics. It's a community of passionate indivduals who love all sorts of things.</p>
      </div>
    </div>
  </div>
</section>
<section id="join-intro">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2" id="join-intro-wrapper">
        <h2>We blend the technical with the artistic.</h2>
        <p>As a member of SCU ACM SIGGRAPH, you will join a community of passionate individuals. 3D animation, video game programming and technology, graphic design, post production work, and even data visualization - you can think it, we got you covered. If you're passionate about any one of these topics, you'll feel at home.</p>
        <p><b><a href="#">> JOIN NOW</a></b></p>
        <p><b><a href="#/events">> OUR EVENTS</a></b></p>
      </div>
    </div>
  </div>
</section>
<section id="join-color">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h2>LEARN</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-offset-1 col-lg-10">
        <p>The world of computer graphics is rich will technology, and there are many things that may interest you. But, it can be hard to learn what you need to move forward. At SCU ACM SIGGRAPH, we plan workshops and tutorials so that technology isn't foreign.</p>
      </div>
    </div> 
    <div class="row" style="padding-top: 30px; padding-bottom: 30px;">
      <div class="col-lg-4">
        <p style="font-size: 48px; margin: 0px;"><i class="fa fa-laptop"></i></p>
        <p><b>Software Tutorials</b></p>
        <p>We are planning sessions for you to get comfortable with software like Photoshop and Maya - tools essential to anyone interested in computer graphics. We are also exploring post-production software.</p>
      </div>
      <div class="col-lg-4">
        <p style="font-size: 48px; margin: 0px;"><i class="fa fa-code"></i></p>
        <p><b>Graphics Programming Workshops</b></p>
        <p>Graphics Programming is an awesome way to get involved with graphics digitally. From OpenGL to more high-level languages like R, learn how to integrate code to create what you want.</p>
      </div>
      <div class="col-lg-4">
        <p style="font-size: 48px; margin: 0px;"><i class="fa fa-cube"></i></p>
        <p><b>Game Engine Bootcamps</b></p>
        <p>How do we make games? Game engines, of course! Learn you're favorite platforms, like Unity, and other open-source engines.</p>
      </div>
    </div>
  </div>
</section>
<section id="join-nocolor">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h2>EXPLORE</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-offset-1 col-lg-10">
        <p>At SCU ACM SIGGRAPH, we want to explore computer graphics as much as possible. Since it's such a big catagory of computing and art, there is a lot of directions we can go - and at SCU ACM SIGGRAPH, we want to be a resouce for you. For some, it's about getting exposed to our creative side. For dedicated individuals, it's about breaking into the industry - learning what it takes to land a job at studios like Pixar, or game company like Electronic Arts. Either way, we want you to join our community to help you find your passions.
      </div>
    </div> 
    <div class="row" style="padding-top: 30px; padding-bottom: 30px;">
      <div class="col-lg-4">
        <p style="font-size: 48px; margin: 0px;"><i class="fa fa-car"></i></p>
        <p><b>Company and Studio Tours</b></p>
        <p>We are planning tours at many different places to expose you to how it's like to do things professionally.</p>
      </div>
      <div class="col-lg-4">
        <p style="font-size: 48px; margin: 0px;"><i class="fa fa-users"></i></p>
        <p><b>Industry Speakers</b></p>
        <p>We want to bring as many people as we can to help share what it's like to work in computer graphics. Besides being a great networking opportunity, you will learn a lot, and it's awesome to meet new people.</p>
      </div>
      <div class="col-lg-4">
        <p style="font-size: 48px; margin: 0px;"><i class="fa fa-university"></i></p>
        <p><b>Conferences</b></p>
        <p>In the heart of Silicon Valley, there are hundreds of conferences related to computer graphics every year. We can go as a group and experience them together - with student discounts! VR, GDC (Game Developers Conference), and a few others are ones that stand out.</p>
      </div>
    </div>
  </div>
</section>
<section id="join-color">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h2>COLLABORATE</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-offset-1 col-lg-10">
        <p>At the center of our organization is our sense of community. We want to be a club for people with similar interests. That means that SCU ACM SIGGRAPH can server as a catalyst for creation.</p>
      </div>
    </div> 
    <div class="row" style="padding-top: 30px; padding-bottom: 30px;">
      <div class="col-lg-4">
        <p style="font-size: 48px; margin: 0px;"><i class="fa fa-object-group"></i></p>
        <p><b>Projects</b></p>
        <p>Using the skills of our members, we can collaborate together and create something truly awesome. Chances are, you'll find someone with a particular skill set you need - and vice versa.</p>
      </div>
      <div class="col-lg-4">
        <p style="font-size: 48px; margin: 0px;"><i class="fa fa-pencil"></i></p>
        <p><b>Study Together</b></p>
        <p>Being a member means you have access to other students on campus. Work together on school work. We have both Engineers and Artists in our club.</p>
      </div>
      <div class="col-lg-4">
        <p style="font-size: 48px; margin: 0px;"><i class="fa fa-comments"></i></p>
        <p><b>Share Interests</b></p>
        <p>It's hard to find those who share your interests, espcially in computer graphics. When you join, you'll be surrounded by others who are passionate about the same things as you.</p>
      </div>
    </div>
  </div>
</section>
<section id="join-outro">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2" id="join-intro-wrapper">
        <h2>What are you waiting for?</h2>
        <p>Join now! Shoot us an email to let us know your interested, and we will be more than happy to add you to our mailing list!</p>
        <p><b><a href="#/contact">> CONTACT US</a></b></p>
      </div>
    </div>
  </div>
</section>

<!-- Footer -->
<div class="footer">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-lg-offset-2 col-sm-4 col-xs-4">
        <div class="row">
          <div class="col-lg-12">
            <p>SCU ACM SIGGRAPH</p>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-6">
            <ul class="nav">
              <li class="nav-item">
                <a class="nav-link" href="#/home">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#/information">Information</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#/events">Events</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#/join">Join</a>
              </li>
            </ul>
          </div>
          <div class="col-lg-6">
            <ul class="nav">
              <li class="nav-item">
                <a class="nav-link" href="#/members">Members</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#/photos">Photos</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#/contact">Contact</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-lg-2 col-sm-4 col-xs-4">
        <div class="row">
          <div class="col-lg-12">
            <p>AFFILIATES</p>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12">
            <nav class="nav">
              <ul class="nav">
                <li class="nav-item">
                  <a class="nav-link" href="https://www.acm.org/">ACM</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="www.siggraph.org">ACM SIGGRAPH</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="s2016.siggraph.org">SIGGRAPH 2016</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="https://www.scu.edu">SCU</a>
                </li>
              </ul>
            </nav>
          </div>
        </div>
      </div>
      <div class="col-lg-2 col-sm-4 col-xs-4">
        <div class="row">
          <div class="col-lg-12">
            <p>CONNECT</p>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-3">
           <p>
             <a href="https://www.facebook.com/groups/608046832681387/"><i class="fa fa-facebook-official"></i>
             </a>
            </p>
          </div>
          <div class="col-lg-3">
            <p>
             <a href="mailto:scuacm.siggraph@gmail.com"><i class="fa fa-envelope"></i></a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="footer-mini bg-primary">
  <div class="container">
    <div class="row">
      <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5">
        <p>Copyright ©2016 SCU ACM SIGGRAPH.</p>
      </div>
      <div class="col-lg-2 col-sm-2 col-md-2 col-sm-2 col-xs-2">
        <center>
          <img src="/images/siglogo-footer.png" style="height: 20px; width: 20px;">
        </center>
      </div>
      <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5" style="text-align: right">
        <p>All rights reserved.</p>
      </div>
    </div>
  </div>
</div>
