<!-- Navbar -->
<nav class="navbar navbar-dark bg-primary" style="border-radius: 0 !important;">
  <div class="container">
    <ul class="nav navbar-nav pull-xs-left">
      <li class="nav-item">
        <a href="#"><img src="/images/siglogo1.png" style="width: auto; height: 40px; padding-right: 10px;"></a>
      </li>
    </ul>
    <a class="navbar-brand" href="#">SCU ACM SIGGRAPH</a>
    <ul class="nav navbar-nav pull-xs-right">
      <li class="nav-item">
        <a class="nav-link" href="#/">HOME</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#/information">INFORMATION</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="#/members">MEMBERS</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#/events">EVENTS</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#/photos">PHOTOS</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#/join">JOIN</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#/contact">CONTACT</a>
      </li>
    </ul>
  </div>
</nav>

<!-- Main content -->
<div class="container">
  <div class="row">
    <h2>EVENTS</h2>
  </div>
</div>


<!-- Footer -->
<div class="footer">
</div>

    