html {
  width:100%;
  overflow-x:hidden;
  min-height:100%;
  position: relative;
}

body {
  margin-bottom: 260px;
}

#wrapper {
  /* If you need it, it's here */
}

a {
  -o-transition:.2s;
  -ms-transition:.2s;
  -moz-transition:.2s;
  -webkit-transition:.2s;
  transition:.2s;
}

a:hover {
}

p {
  font-family: 'Source Sans Pro', sans-serif;
}

h1 {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 900 !important;
}

h2 {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 700 !important;
}

h3 {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 900 !important;
  font-size: 5rem;
  color: #000000;
  margin-bottom: 0px;
}

h4 {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 700 !important;
}

h5 {
  font-family: 'Source Sans Pro', sans-serif;
}

.col-centered{
    float: none;
    margin: 0 auto;
}

.footer {
  width: 100%;
  background-color: #25383C !important;
  position: absolute;
  bottom: 0;
}

.footer-main {
  padding-top: 40px;
  padding-bottom: 40px;
}

.footer-main a, .footer-mini a {
  color: #99ccff;
  font-family: 'Source Sans Pro', sans-serif;
}

.footer-main a:hover, .footer-mini a:hover {
  color:aqua;
}

.footer-main p {
  color: #FFF;
}

.footer-main p .fa {
  font-size: 30px;
}

.footer-mini {
  padding-top: 10px;
  padding-bottom: 10px;
}

.footer-mini p {
  color: #cccccc;
  font-size: 14px;
  margin: 0px;
}

#collapsing-navbar {
  background-color: #25383C;
  padding-bottom: 20px;
}

#collapsing-navbar p, #collapsing-navbar a {
  text-align: center;
  color: #FFF;
  padding-top: 5px;
  padding-bottom: 5px;
  margin: 0px;
  font-weight: 500 !important;
  font-size: 20px;
}

#collapsing-navbar a:hover {
  font-weight: 700 !important;
  text-decoration: none;
}


.navbar-brand {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 700 !important;
}

.navbar ul a {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 500;
}

.jumbotron {
  margin-bottom: 0;
  padding: 60px;
  color: #FFF;
  /* background-color: #606078; */
  background-image: url(../images/santaclara_edited.jpg);
  background-size: cover;
  background-position: center 45%;
}

.jumbotron .btn {
  color: #FFF;
  border-color: #FFF;
}

.jumbotron .btn:hover {
  color: #606078;
  border-color: #FFF;
  background-color: #FFF;
}

.jumbotron h1 {
  text-shadow: 0 1px 0 #ccc,
               0 2px 0 #c9c9c9,
               0 3px 0 #bbb,
               0 4px 0 #b9b9b9,
               0 5px 0 #aaa,
               0 6px 1px rgba(0,0,0,.1),
               0 0 5px rgba(0,0,0,.1),
               0 1px 3px rgba(0,0,0,.1),
               0 3px 5px rgba(0,0,0,.2),
               0 5px 10px rgba(0,0,0,.25),
               0 10px 10px rgba(0,0,0,.2),
               0 10px 10px rgba(0,0,0,.15);
}

.info-content {
  padding-top: 20px;
  padding-bottom: 20px;
}

.info-main-content {
  padding-top: 40px;
  padding-bottom: 20px;
}

@media (max-width: 61.9em) {
  .info-content p {
    text-align: left !important;
  }
}

.info-container {
  padding-top: 20px;
  padding-bottom: 20px;
}

#home p {
  color: #000;
  font-size: 20px;
}

#home p a {
  color: #000;
  font-weight: 500;
  font-size: 24px;
}

#home p a:hover {
  text-decoration: none;
  padding-left: 10px;
  color: #F08080;
}

#home h1 {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 900 !important;
}

@media (max-width: 61.9em) {
  #announce-wrapper {
    border: none;
  }
}

#announce-section {
  padding-top: 50px;
  padding-bottom: 60px;
}

#announce-section h1 {
  color: #78A890;
}

#news-section {
  padding-top: 50px;
  padding-bottom: 60px;
}

#news-section h1 {
  color: #606078;
}

#events-section {
  padding-top: 40px;
  padding-bottom: 60px;
}

#events-section h1 {
  color: #D8A878;
}

.align-right {
  position: absolute;
  right: 0;
  bottom: -1rem;
}

.align-left {
  position: absolute;
  left: 0;
  bottom: -1rem;
}

#dedication {
  height: 20rem;
  background-color: #FFF;
  background-image: url(../images/pc1.png);
  background-size: cover;
  border-bottom: 2rem solid #78A890;
}

#dedication div {
  position: relative;
  height: 100%;
  width: 100%;
}

#dedication h3{
  color: #FFF;
}

#dedication-section {
  background-color: #FFF;
  padding-top: 40px;
  padding-bottom: 40px;
}

#innovation {
  height: 20rem;
  min-height: 100px;
  background-color: #FFF;
  background-image: url("https://farm8.static.flickr.com/7077/7339375138_96faf04975_b.jpg");
  background-size: cover;
  border-bottom: 2rem solid #606078;
}

#innovation div {
  position: relative;
  height: 100%;
  width: 100%;
}

#innovation h3 {
  color: #FFF;
}

#innovation-section {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #FFF;
}

#innovation-section p,#innovation-section h2 {
  text-align: center;
}


#community div {
  position: relative;
  height: 100%;
  width: 100%;
}

#community h3 {
  color: #FFF;
}

#community {
  height: 20rem;
  background-color: #FFF;
  background-image: url("../images/pc2.png");
  background-size: cover;
  border-bottom: 2rem solid #D8A878;
}

#community-section {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #FFF;
  text-align: center;
}

#community-section .col-lg-3 {
  height: inherit;
  padding-top: 10px;
  border-radius: 12px;
}

#community-section i {
  color: #F08080;
  padding-bottom: 10px;
}

#community-section .col-lg-3:hover {
  background-color: #F4F4F4;
}



#eventpage {
  padding-top: 40px;
  padding-bottom: 40px;
}

#eventpage-subsection {
  padding-top: 20px;
  padding-bottom: 20px;
}

#join-intro {
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(/images/purple.png);
  background-attachment: fixed;
  padding-top: 40px;
  padding-bottom: 40px;
}

#join-intro p, #join-intro h2, #join-intro a {
  color: #FFF;
}

#join-intro a:hover {
  color: #F08080;
  text-decoration: none;
}


#join-outro {
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(/images/orange.png);
  background-attachment: fixed;
  padding-top: 50px;
  padding-bottom: 50px;
}

#join-outro p, #join-outro h2, #join-outro a {
  color: #FFF;
}

#join-outro a:hover {
  color: #F08080;
  text-decoration: none;
}

#join-nocolor {
  padding-top: 40px;
  padding-bottom: 40px;
  text-align: center;
}

#join-jumbo {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #F4F4F4;
}


#join-color {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #F4F4F4;
  text-align: center;
}

#join-color i, #join-nocolor i {
  color: #F08080;
}

#member-jumbo {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #F4F4F4;
}

#member-content {
  padding-top: 40px;
  padding-bottom: 40px;
}

#member-content p {
  padding-top: 10px;
}

#member-content p a:hover {
  text-decoration: none;
}

#contact-jumbo {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #F4F4F4;
}

#contact-content {
  padding-top: 40px;
  padding-bottom: 40px;
}

#contact-content p {
  margin-top: 10px;
}

#contact-content i {
  padding-right: 10px;
}

#home-outro {
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(/images/nocolor.png);
  background-attachment: fixed;
  padding-top: 40px;
  padding-bottom: 40px;
}

#home-outro-container {
  text-align: center
}

#home-outro-wrapper {
  background-color:rgba(69,204,137,.6);
  border-radius: 50%;
  height: 260px;
  width: 260px;
  margin: 2%;
  display: inline-block;
  position: relative;
  text-align: center;
  line-height: 275px;
}
#home-outro-wrapper span {
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
}

#home-outro-wrapper p {
  color: #FFF;
  font-size: 24px;
}

#home-outro-wrapper p a {
  color: #FFF;
  font-weight: 600;
}

#home-outro-wrapper p a:hover {
  text-decoration: none;
  padding-left: 10px;
}

#photos-jumbo {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #F4F4F4;
}

#photos-content {
  padding-top: 40px;
  padding-bottom: 40px;
}

#photos-content a:hover {
  text-decoration: none;
}

#photos-content img:hover {
  box-shadow: 0px 0px 2px 1px #F08080;
}

img {
  -o-transition:.2s;
  -ms-transition:.2s;
  -moz-transition:.2s;
  -webkit-transition:.2s;
  transition:.2s;
}

.lb-img {
  width: 10%;
  height: auto;
}

.bg-primary {
  background-color: #25383C !important;
}

.btn-primary-outline:hover, .btn-primary {
  background-color: #52B1FF;
  border-color: #52B1FF;
}

#learn_more:hover {
  transition: all 310ms linear;
  //transition-delay: 0.05s;
}
