html, body{
  width:100%;
  overflow-x:hidden;
  min-height:100%;
}

a {
  -o-transition:.2s;
  -ms-transition:.2s;
  -moz-transition:.2s;
  -webkit-transition:.2s;
  transition:.2s;
}

.footer {
  width: 100%;
  background-color: #25383C !important;
  padding-bottom: 50px;
  padding-top: 50px;
}

.footer a, .footer-mini a {
  color: #99ccff;
  font-family: 'Source Sans Pro', sans-serif;
}

.footer a:hover, .footer-mini a:hover {
  color:aqua;
}

.footer p {
  color: #FFF;
}

.footer p .fa {
  font-size: 30px;
}

.footer-mini {
  width: 100%;
  padding-bottom: 5px;
}

.footer-mini p {
  color: #cccccc;
  font-size: 14px;
  margin: 0px;
  display: inline;
}

p {
  font-family: 'Source Sans Pro', sans-serif;
}

h2 {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 700 !important;
}

h4 {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 700 !important;
}

.navbar-brand {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 700 !important;
}

.navbar ul a {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 500 !important;
}

.navbar-nav .active {
  border-bottom: 6px solid #FFF;
}

.jumbotron {
  margin-bottom: 0;
  padding: 60px; /* might need to remove this */
}

.jumbo-line {
  border-style: solid none;
  border-width: 1px 0;
  margin: 18px 0;
  width: 10rem;
}

#imagejumbo {
  height: 20rem;
  background-image: url(../images/test2.jpg);
  background-size: cover;
}

.info-content {
  padding-top: 20px;
  padding-bottom: 20px;
}

.info-main-content {
  padding-top: 40px;
  padding-bottom: 20px;
}

.info-container {
  padding-top: 20px;
  padding-bottom: 20px;
}

#announce {
  position: relative;
  height: 4rem;
  width: 45%;
  border-bottom: 1rem solid #78A890;
}

#announce h2 {
  position: absolute;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 900 !important;
  font-size: 3rem;
  color: #78A890;
  right: 0;
  bottom:-1.1rem;
}

#announce-section {
  background-image: url(../images/green.png);
  background-size: 35% auto; 
  background-repeat: no-repeat;
  background-position: right center;
}

#news {
  position: relative;
  float: right;
  height: 4rem;
  width: 45%;
  border-bottom: 1rem solid #606078;
}

#news h2 {
  position: absolute;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 900 !important;
  font-size: 3rem;
  color: #606078;
  left: 0;
  bottom:-1.1rem;
}

#news-section {
  background-image: url(../images/purp.png);
  background-size: 35% auto; 
  background-repeat: no-repeat;
  background-position: left center;
}

#events {
  position: relative;
  height: 4rem;
  width: 45%;
  border-bottom: 1rem solid #D8A878;
}

#events h2 {
  position: absolute;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 900 !important;
  font-size: 3rem;
  color: #D8A878;
  right: 0;
  bottom:-1.1rem;
}

#events-section {
  background-image: url(../images/oj.png);
  background-size: 35% auto; 
  background-repeat: no-repeat;
  background-position: right center;
}


h1 {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 900 !important;
}

h3 {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 900 !important;
  font-size: 5rem;
  color: white;
  margin-bottom: 0px;
}

.align-right {
  position: absolute;
  right: 0;
  bottom: -1rem;
}

.align-left {
  position: absolute;
  left: 0;
  bottom: -1rem;
}

#dedication {
  height: 20rem;
  background-color: #FFF;
  background-image: url(../images/pc1.png);
  background-size: cover;
  border-bottom: 2rem solid #78A890;
}

#dedication div {
  position: relative;
  height: 100%;
  width: 100%;
}

#dedication h3{
  color: #FFF;
}

#dedication-section {
  background-color: #FFF;
  padding-top: 40px;
  padding-bottom: 40px;
}

#innovation {
  height: 20rem;
  min-height: 100px;
  background-color: #FFF;
  background-image: url("https://farm8.static.flickr.com/7077/7339375138_96faf04975_b.jpg");
  background-size: cover;
  border-bottom: 2rem solid #606078;
}

#innovation div {
  position: relative;
  height: 100%;
  width: 100%;

}

#innovation h3 {
  color: #FFF;
}

#innovation-section {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #FFF;
}

#innovation-section p,#innovation-section h2 {
  text-align: right;
}

#community div {
  position: relative;
  height: 100%;
  width: 100%;
}

#community h3 {
  color: #FFF;
}

#community {
  height: 20rem;
  background-color: #FFF;
  background-image: url("../images/pc2.png");
  background-size: cover;
  border-bottom: 2rem solid #D8A878;
}

#community-section {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #FFF;
}

#eventpage {
  height: 20rem;
  background-color: #FFF;
  background-image: url(http://msg4svc.net/static/smithbuck/images/exhibitsimage.jpg);
  background-repeat: no-repeat;
  background-positon: bottom !important;
  background-size: cover;
  border-bottom: 2rem solid #606078;
}

#eventpage div {
  position: relative;
  height: 100%;
  width: 100%;
}

#eventpage-seciton{
  padding-top: 40px;
  padding-bottom: 40px;
}

#eventpage-subsection {
  padding-top: 20px;
  padding-bottom: 20px;
}

#join-intro {
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(/images/purple.png);
  background-attachment: fixed;
  padding-top: 40px;
  padding-bottom: 40px;
}

#join-intro p, #join-intro h2, #join-intro a {
  color: #FFF;
}

#join-intro a:hover {
  color: #F08080;
  text-decoration: none;
}


#join-outro {
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(/images/orange.png);
  background-attachment: fixed;
  padding-top: 50px;
  padding-bottom: 50px;
}

#join-outro p, #join-outro h2, #join-outro a {
  color: #FFF;
}

#join-outro a:hover {
  color: #F08080;
  text-decoration: none;
}

#join-nocolor {
  padding-top: 40px;
  padding-bottom: 40px;
  
}

#join-jumbo {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #F4F4F4;
}


#join-color {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #F4F4F4;
}

#member-jumbo {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #F4F4F4;
}

#member-content {
  padding-top: 40px;
  padding-bottom: 40px;
}

#member-content p {
  padding-top: 10px;
}

#home-outro {
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(/images/nocolor.png);
  background-attachment: fixed;
  padding-top: 40px;
  padding-bottom: 40px;
  text-align: center;
  margin: auto;
}

#home-outro-wrapper {
  background-color:rgba(69,204,137,.6);
  border-radius: 50%;
  display: inline-block;
  height: 250px;
  width: 250px;
  margin: 30px;
}

#home-outro-wrapper p {
  color: #FFF;
  padding-top: 84px;
  font-size: 24px;
  font-weight: 600;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

#home-outro-wrapper p a {
  color: #FFF;
}

#home-outro-wrapper p a:hover {
  color: #F08080;
  text-decoration: none;
}

.bg-primary {
  background-color: #25383C !important;
}

.btn-primary {
  background-color: #488AC7 !important;
}